<a href="/cars">Car Index</a>

<h1><%= @car.model %></h1>
<p><b>make:</b> <%= @car.make %></p>
<p><b>year:</b> <%= @car.year %></p>
<p><b>accident:</b> <%= @car.accident%></p>
<p><b>mileage:</b> <%= @car.mileage%></p>
<p><b>dealership:</b> <%= @car.dealership_id%></p>